{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
<img src="https://scontent.fjkr2-1.fna.fbcdn.net/v/t39.30808-6/487492174_1216626437137989_3997918249387820366_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=S7q2_kRuhiQQ7kNvwGnQyRt&_nc_oc=AdnCxGeoFi_WsG-HRCPJAe9qX08A9h5ypgR9Z39fsbddDqC9qBurQwf9SlSujAXIivYccpZ4G8DO0piB8rAv0osL&_nc_zt=23&_nc_ht=scontent.fjkr2-1.fna&_nc_gid=_8rorIaUtTduguaTcewFBw&oh=00_AfXV3dBXc2GV84h7xnIsx0eWxSxGYrQJ8JB3RcVLnVq_VQ&oe=68964C7F" height="300px" >
<div class="details">
    <p>
        Campus Name :<h4>Mechi Multiple Campus</h4></p>
     <p>
        Courses:
        <h4>BIM|BSC CSIT|BBA|BCA|BIM</h4>
    </p><br>
</div>

{% endblock %}